[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deep-translator = "*"
py3-tts = "*"
fastapi = {extras = ["standard"], version = "*"}

[dev-packages]

[scripts]
dev = "fastapi dev src/app.py"

[requires]
python_version = "3.12"
